.pokedexContainer {
  max-width: 425px;
  max-height: 637px;
  width: 100%;
  height: 100%;
}

.pokeballs {
  font-weight: 800;
  display: flex;
  padding: 7px 40px 0;
}

.pokemonName {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0 30px;

}

.pokemonNumber {
  color: white;
  position: relative;
  width: 100%;
  display: flex;
  top: -80px;
  left: -50px;
  position: relative;
  justify-content: flex-end;
}


.pokeballAnim {
  animation: PokeballAnimation 4s cubic-bezier(0.93, 0.05, 0.9, 0.71);
  transform: translate(-450%, -150%);
}

.noCaptured {
  animation: noCaptured 0s cubic-bezier(0.93, 0.05, 0.9, 0.71);
}

.captured {
  animation: captured 5s cubic-bezier(0.93, 0.05, 0.9, 0.71);
}

.throwPokeball {
  animation: throwPokeball 5s ease-in
}

.pokemonContenedor {
  max-width: 425px;
  max-height: 637px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 41%;
  padding-right: 40px;
}

@keyframes throwPokeball  {
  0% {
    opacity: 100%
  }

  20% {
    opacity: 100%
  }

  21% {
    opacity: 0%
  }

  100% {
    opacity: 0%;
  }
}

/* @keyframes captured  {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%;
  }
}

@keyframes noCaptured {
  100% {
    opacity: 100%
  }
} */

@keyframes PokeballAnimation {
 0% {
    transform: translate( 0%, 0%);
 }

 10% {
  transform: translate( -150%, -225%);
 }

 14% {
    transform: translate(-300%, -450%);
 }

 20% {
  transform: translate(-350%, -350%);
 }

 24% {
  transform: translate(-300%, -450%) ;
 }

 32% {
  transform: translate(-450%, -150%) rotate(25deg);
 }

 39% {
  transform: translate(-450%, -150%) rotate(-25deg);
 }

 46% {
  transform: translate(-450%, -150%) rotate(25deg);
 }

 53% {
  transform: translate(-450%, -150%) rotate(-25deg);
 }

 60% {
  transform: translate(-450%, -150%) rotate(25deg);
 }

 67% {
  transform: translate(-450%, -150%) rotate(-25deg);
 }

 74% {
  transform: translate(-450%, -150%);
 }
}