.pokedexContainer {
  width: 100%;
  max-width: 425px;
  height: 100%;
  max-height: 637px;
}

.pokeballs {
  display: flex;

  padding: 7px 40px 0;

  font-weight: 800;
}

.pokemonName {
  padding: 10px 0 30px;

  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.pokemonNumber {
  position: relative;
  position: relative;
  top: -80px;
  left: -50px;

  display: flex;
  justify-content: flex-end;

  width: 100%;

  color: #faccd9;
}

.search {
  border: 2px solid #E57C98;
  border-radius: 4px;
  background-color: #D30B41;

  color: white;
  text-align: center;
}

.search::placeholder {
  color: #F1B2C3;
}

.search:focus {
  outline: 2px solid #F1B2C3;
}

.pokeballAnim {
  animation: PokeballAnimation 4s cubic-bezier(.93, .05, .9, .71);
  transform: translate(-450%, -150%);
}

.noCaptured {
  animation: noCaptured 0s cubic-bezier(.93, .05, .9, .71);
}

.captured {
  animation: captured 5s cubic-bezier(.93, .05, .9, .71);
}

.throwPokeball {
  animation: throwPokeball 5s ease-in;
}

.pokemonContenedor {
  position: absolute;
  top: 41%;

  width: 100%;
  max-width: 425px;
  height: 100%;
  max-height: 637px;
  padding-right: 40px;
}

@keyframes throwPokeball {
  0% {
    opacity: 100%;
  }

  20% {
    opacity: 100%;
  }

  21% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* @keyframes captured  {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%;
  }
}

@keyframes noCaptured {
  100% {
    opacity: 100%
  }
} */

@keyframes PokeballAnimation {
  0% {
    transform: translate( 0%, 0%);
  }

  10% {
    transform: translate( -150%, -225%);
  }

  14% {
    transform: translate(-300%, -450%);
  }

  20% {
    transform: translate(-350%, -350%);
  }

  24% {
    transform: translate(-300%, -450%) ;
  }

  32% {
    transform: translate(-450%, -150%) rotate(25deg);
  }

  39% {
    transform: translate(-450%, -150%) rotate(-25deg);
  }

  46% {
    transform: translate(-450%, -150%) rotate(25deg);
  }

  53% {
    transform: translate(-450%, -150%) rotate(-25deg);
  }

  60% {
    transform: translate(-450%, -150%) rotate(25deg);
  }

  67% {
    transform: translate(-450%, -150%) rotate(-25deg);
  }

  74% {
    transform: translate(-450%, -150%);
  }
}
